<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Jinny's Blog</title>
    <link rel="stylesheet" th:href="@{/css/sej_Blog.css}"/>
    <link rel="stylesheet" th:href="@{/css/public_reset.css}"/>
</head>

<body>
<header>
    <div class="header-container1">

        <div class="header">
            <div class = "header_layout">
                <div class="header-logo" th:onclick="">
                    <div class="logo-image">
                        <img th:src="@{/images/sej_5doong2_profile1.png}" />
                    </div>
                    <div class="logo-text" >이건 나의 블로그</div>
                </div>
                <div class="header-user">
                    <li><a th:href="@{/}" data-hover="홈화면">홈화면</a></li>
                    <li>
                        <!--                이 페이지를 만들어야함-->
                        <a th:href="@{/sej/blog/edit}" th:if="${currentPage != 'editPage'}">글쓰기</a>

                        <a th:href="@{/sej/blog/posts}" th:unless="${currentPage != 'editPage'}" onclick="return confirmExit()">나가기</a>
                    </li>

                </div>
            </div>

        </div>
    </div>


</header>
<main>
    <div class="header-container2">

        <div th:replace="~{/sej_Blog/fragments/blogPost_header2 :: header2}"></div>

    </div>

    <div class="main-container">
        <aside th:replace="~{/sej_Blog/fragments/blogPost_sidebar :: sidebar}"></aside>

        <div class="content">
<!--            <div th:replace="~{/sej_Blog/fragments/blogPost_user-profile :: userProfile}"></div>-->
            <nav class="navigation">
                <div class="nav-items">
                    <div th:onclick="">글</div>
                    <div th:onclick="">소개</div>
                </div>
            </nav>
            <section th:replace="~{/sej_Blog/fragments/blogPost2_postList.html :: posts}"></section>
        </div>
    </div>
</main>

<script th:src="@{/javascript/calender.js}"></script>
<script src="index.js"></script>
<script src="todo.js"></script>
<script src="select.js"></script>

<footer>
    <!-- Footer content here -->
</footer>
</body>
</html>
