<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header-container">
<div class="header">
    <div class="header-logo_5" th:onclick="@{/lsh/blog}">
        <img th:src="@{/images/lsh_main_img.png}" class="logo-image_5" alt=""/>
        <div class="logo-text_5" >Eagles_Soori</div>
    </div>
    <div class="header-user">
        <a th:href="@{/}" class="user-home">Home</a>
        <a th:href="@{/lsh/blog/addpost}" class="user-addpost">글쓰기</a>
        <div class="user-login" th:onclick="">로그인</div>
    </div>
</div>
</div>

</body>
</html>