<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="userProfile">
  <head>
    <link rel="stylesheet" th:href="@{/css/hjh_Blog.css}"/>
    <link rel="stylesheet" th:href="@{/css/public_reset.css}"/>
  </head>
  <body>
    <div class="user-profile">
      <div class="profile-upper">
        <div class="profile-image">
          <img th:src="@{/images/hjh_user_img.gif}" alt="X" />
        </div>
        <div class="profile-info">
          <div class="user-name" >황정한</div>
          <div class="user-description" >
            개발? 개나줘버려
          </div>
        </div>
      </div>
      <div class="profile-lower">
        <div class="sns-icons">
          <div class="icon">
            <a th:href="@{https://github.com/}">
              <img th:src="@{/images/public_github_logo.svg}" alt="GitHub Profile"/>
            </a>
          </div>
          <div class="icon">
            <a th:href="@{https://discord.gg/}">
              <img th:src="@{/images/public_discord_logo.svg}" alt="Discord Profile"/>
            </a>
          </div>
        </div>
        <div class="follow-info">
          <div class="follow-stats">
            <div class="follow-count" th:onclick="">
              팔로우 0
            </div>
            <div
              class="follower-count"
              th:onclick=""
            >
              팔로워 0
            </div>
          </div>
          <div class="follow-button" th:onclick="">팔로우</div>
        </div>
      </div>
    </div>
  </body>
</html>
