.main-posts {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.main-navbar {
    background-color: #FF7F50;
    overflow: hidden;
    width: 800px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}
.main-navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    font-size: 25px;
}
.main-container {
    width: 755px;
    margin: auto;
    /*margin-top: 30px;*/
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.main-post {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}
.main-post img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}
.main-post h3 {
    margin: 0;
}