<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Joo's Blog</title>
    <link rel="stylesheet" th:href="@{/index4.css}"/>
</head>
<body>
<header>
    <div th:replace="~{/sampleBlogPage4/fragments/blogPost_user-profile :: userProfile}"></div>
</header>
<main>
    <div class="main-container">
        <aside th:replace="~{/sampleBlogPage4/fragments/blogPost_sidebar :: sidebar}"></aside>
        <div class="content">
            <nav class="navigation">
                <div class="nav-items">
                    <div th:onclick="">글</div>
                    <div th:onclick="">목록</div>
                    <div th:onclick="">소개</div>
                </div>
            </nav>
            <section th:replace="~{/sampleBlogPage4/fragments/blogPost_posts.html :: posts}"></section>
        </div>
    </div>
</main>
<footer>
    <!-- Footer content here -->
</footer>
</body>
</html>
