<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="postreader" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div th:if="${post.postId == selectedId}">

            <div class="read-container" th:each="post : ${post}">
                <div class="read-title" th:text="${post.title}">글의 제목</div>
                <div class="read-sub" th:text="${post.description}">글의 설명</div>
                <div class="read-section">
                    <div class="read-imgs">
                        <img th:src="@{${post.imageUrl}}"/>
                    </div>
                    <div class="read-content" th:text="${post.content}">작성글</div>
                </div>
                <div class="read-option">
                    <a th:href="@{/hjh/blog/postreader/modify/{id}(id=${post.postId})}" class="read-modify-button"><div>수정</div></a>
                    <a th:href="@{/hjh/blog/postreader/delete/{id}(id=${post.postId})}" class="read-delete-button"><div>삭제</div></a>
                </div>
            </div>
        </div>
</body>
</html>