<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>stjoo.log</title>
    <link rel="stylesheet" th:href="@{/index1.css}"/>
    <link rel="stylesheet" th:href="@{/reset.css}"/>
</head>
<body>
<header>
    <div class="header-container">
        <div class="header">
            <div class="header-logo" onclick="navigateToBlogPost()">
                <div class="logo-image">
                    <img th:src="@{/images/logo.png}" alt="X"/>
                </div>
                <div class="logo-text">Stjoo.log</div>
            </div>
            <div class="header-user">
                <ul class="SMN_effect-6">
                    <li><a th:href="@{/}" data-hover="첫화면">첫화면</a></li>
                    <li>
                        <form id="searchForm" action="search" method="get">
                            <div class="search-box">
                                <button type="submit" class="btn-search" id="searchButton">
                                    <img id="searchImg" src="/images/search.svg" alt="검색"/>
                                </button>
                                <input type="text" name="q" class="input-search" placeholder="찾으실 검색어를 입력해 주세요..."
                                       id="searchInput" autocomplete="off">
                            </div>
                        </form>
                    </li>
                    <li>
                        <a th:href="@{/blogPost1/editPage}" th:if="${currentPage != 'editPage'}">글쓰기</a>
                        <a th:href="@{/blogPost1}" th:unless="${currentPage != 'editPage'}" onclick="return confirmExit()">나가기</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main id="mainContent">
    <div class="main-container" th:if="${currentPage == 'mainPage'}">
        <div th:replace="~{/sampleBlogPage_st/fragments/blogPost_mainPage :: mainPage}"></div>
    </div>
    <div class="main-editPage" th:if="${currentPage == 'editPage'}">
        <div th:replace="~{/sampleBlogPage_st/fragments/blogPost_editor :: editor}"></div>
    </div>
    <div class="main-readPage" th:if="${currentPage == 'readPage'}">
        <div th:replace="~{/sampleBlogPage_st/fragments/blogPost_reader :: reader}"></div>
    </div>
</main>
<footer>
    <!-- Footer content here -->
</footer>
<script th:src="@{/sampleBlogPage_st.js}"></script>
</body>
</html>
