@font-face {
    font-family: 'JGaegujaengyi-Medium-KO';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JGaegujaengyi-Medium-KO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: "JGaegujaengyi-Medium-KO";
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

.header-container {
    width: 100%;
    background-color: #f87722;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-logo_5 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-text_5 {
    font-family: 'JGaegujaengyi-Medium-KO' ;
    font-size: 2em;
}

.logo-image_5 {
    margin-right: 10px;
}

.logo-image_5 > img {
    width: 25px;
    height: 30px;
}

.header-user {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.sidebar {
    width: 250px;
    margin-right: 20px;
}

.sidebar-content_5 {
    background-color: #fff5f2;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sidebar-title {
    margin-bottom: 10px;
    font-family: "JGaegujaengyi-Medium-KO";
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
}

.tag-list {
    list-style: none;
    padding: 0;
}

.tag-list li {
    margin-bottom: 10px;
    font-family: "JGaegujaengyi-Medium-KO";
    cursor: pointer;
}

.content {
    flex: 1;
}

.user-profile_5 {
    background-color: #fff5f2;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-upper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #999;
}

.profile-image {
    margin-right: 20px;
    margin-left: 20px;
}

.profile-image > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-info .user-name {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 5px;
    font-family: "JGaegujaengyi-Medium-KO";
}

.profile-info .user-description {
    font-size: 1.5em;
    font-family: "JGaegujaengyi-Medium-KO";
}

.profile-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sns-icons {
    display: flex;
}

.sns-icons .icon {
    margin-right: 10px;
    margin-left: 10px;
}

.sns-icons .icon > a > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.follow-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow-stats {
    display: flex;
    margin-bottom: 10px;
}

.follow-stats .follow-count,
.follow-stats .follower-count {
    margin-right: 10px;
    font-family: "JGaegujaengyi-Medium-KO";
    cursor: pointer;
}

.follow-button {
    padding: 5px 10px;
    background-color: #ff6f0f;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    font-family: "JGaegujaengyi-Medium-KO";
}

.navigation_5 {
    background-color: #fff5f2;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
}

.nav-items > div {
    font-size: 1.2em;
    font-family: "JGaegujaengyi-Medium-KO";
    cursor: pointer;
}
.nav-items div.active {
    color: #00a05b;
}

.nav-items div:hover {
    color: #00a05b;
}

.posts_5 {
    background-color: #fff5f2;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.post-list {
    display: flex;
    flex-direction: column;
}

.post-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dee2e6;
    padding: 20px 0;
}

.post-item {
    border-bottom: none;
}

.post-image {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 400px; /* 이미지의 높이를 고정 */
    cursor: pointer;
    margin-bottom: 10px;
}

.post-image img {
    width: 800px; /* 이미지의 너비를 300px로 고정 */
    height: 400px; /* 이미지의 높이를 300px로 고정 */
    object-fit: cover; /* 이미지가 컨테이너 크기에 맞게 자르도록 설정 */
}

.post-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0;
    font-family: "JGaegujaengyi-Medium-KO";
    cursor: pointer;
    margin-bottom: 20px;
}

.post-description {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-family: "JGaegujaengyi-Medium-KO";
    margin-bottom: 20px;
}

.post-tags {
    color: #868e96;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.post-tags > div {
    width: auto;
    padding: 5px 10px;
    background-color: #ff6f0f;
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    font-family: "JGaegujaengyi-Medium-KO";
    text-align: center;
}

.post-meta {
    display: flex;
    justify-content: left;
    color: #868e96;
}

.post-meta .post-date,
.post-meta .post-comments,
.post-meta .post-likes {
    margin-right: 10px;
    font-size: 0.8em;
    color: #999;
    font-family: "JGaegujaengyi-Medium-KO";
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f3f5;
    color: #868e96;
}

/* 미디어 쿼리 추가 */
@media screen and (max-width: 980px) {
    .header {
        padding: 15px;
    }
    .header-user {
        flex-direction: row;
        align-items: flex-end;
    }
    .user-notification,
    .user-search,
    .user-login {
        margin-left: 10px;
    }
    .header-logo {
        flex-direction: row;
        align-items: flex-start;
    }

    .main-container {
        flex-direction: column;
        margin: 10px;
    }
    .sidebar {
        width: 100%; /* 전체 너비로 변경 */
        margin-right: 0;
        margin-bottom: 20px;
    }
    .content {
        margin-right: 0;
    }
    .profile-upper {
        flex-direction: column;
        align-items: center;
    }
    .profile-image > img {
        width: 120px;
        height: 120px;
    }
    .profile-info .user-name {
        font-size: 1.5em;
    }
    .profile-info .user-description {
        font-size: 1em;
    }
    .sns-icons .icon > img {
        width: 25px;
        height: 25px;
    }
    .follow-info {
        align-items: center;
    }
    .nav-items {
        flex-direction: row;
        align-items: center;
    }
    .nav-items > div {
        margin-bottom: 10px;
    }
    .post-image img {
        max-width: 100%;
        height: auto;
    }
    .post-title {
        font-size: 1.2em;
    }
    .post-description {
        font-size: 1em;
    }
    .post-meta .post-date,
    .post-meta .post-comments,
    .post-meta .post-likes {
        font-size: 0.7em;
    }
}

.custom-btn {
    width: 80px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border: none;
    color: #fff;
    margin-left: 10px;
}

.btn-3 {
    padding: 0;
}

.btn-3:hover {
    background: rgba(255, 255, 255, 0.1); /* hover 시 투명한 흰색 배경 추가 */
}

.btn-3 div {
    font-family: "JGaegujaengyi-Medium-KO";
    font-size: 1.2em; /* 텍스트 크기 조정 */
    position: relative;
    display: block; /* block 요소로 설정하여 text-align 적용 */
    width: 100%;
    height: 100%;
    text-align: center; /* 텍스트 가로 중앙 정렬 */
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #fff;
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 div:before,
.btn-3 div:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #fff;
    transition: all 0.3s ease;
}

.btn-3 div:before {
    width: 2px;
    height: 0%;
}

.btn-3 div:after {
    width: 0%;
    height: 2px;
}

.btn-3 div:hover:before {
    height: 100%;
}

.btn-3 div:hover:after {
    width: 100%;
}

