* {
    box-sizing: border-box;
    outline: none;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Gwangyang-Touching';
}

ul,
ol,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
address,
em,
span,
strong,
div,
header,
nav,
aside,
section,
article,
footer,
video,
figure,
figcaption {
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

table,
tr,
td,
th {
    border-collapse: collapse;
}

th {
    font-weight: normal;
    text-align: left;
}

button {
    cursor: pointer;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

legend {
    display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #dee2e6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.search-recruit {
    display: flex;
    align-items: center;
}

.search-recruit input {
    padding: 5px;
    margin-right: 10px;
}

.search-recruit button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-post {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 40px 20px;
    position: relative;
    width: 100%;
    height: 500px; /* 원하는 높이로 설정하세요 */
    overflow: hidden;
}


.main-post-content {
    display: flex;
    align-items: center;
}

.main-post-content img {
    max-width: 600px;
    height: auto;
    margin-right: 20px;
}

.main-post-text {
    max-width: 600px;
}

.main-post-text h2 {
    margin: 0;
    font-size: 2em;
}

.main-post-text p {
    font-size: 1.2em;
    color: #666;
}

#hs {
    width: auto;
    HEIGHT: 400px;
}

.main-post-text span {
    display: inline-block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.9em;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.post {
    border: 1px solid #dee2e6;
    margin: 10px;
    padding: 10px;
    width: 300px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.post-inner{
    margin-top: 0px;
    width: 280px;
    height: 164px;
    overflow: hidden;

}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}
#jh {
    width: AUTO;
    HEIGHT: 100%;
}
#sh {
    width: AUTO;
    HEIGHT: 100%;
}

.post h3 {
    font-size: 1.2em;
    margin: 10px 0 10px 0;
}

.post p {
    font-size: 0.9em;
    color: #666;
    margin: 0 0 10px 0;
}

.post a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.post a:hover {
    text-decoration: underline;
}

.inner{
    max-width: 1350px;
    margin: 0 auto;
    padding-top: 20px;
}

.inner h2{
    font-weight: bold;
    font-size: large;
}


.main-post-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    padding-top: 30px;
}

.main-post-text a:hover {
    text-decoration: underline;
}