<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="mainFragment">
<head>
</head>
<body>
<div class="main-post-content">
    <img th:src="@{/images/STBP.PNG}" alt="Post Image" th:if="${post.title == '주순태'}">
    <img th:src="@{/images/sample022.png}" alt="Post Image" th:if="${post.title == '서은진'}">
    <img th:src="@{/images/blogPost3Logo.jpg}" alt="Post Image" th:if="${post.title == '김기호'}">
    <img th:src="@{/images/springmasct.png}" id="hs" alt="Post Image" th:if="${post.title == '강형석'}">
    <img th:src="@{/images/soori.png}" alt="Post Image" th:if="${post.title == '이서현'}">
    <img th:src="@{/images/12345.jpg}" alt="Post Image" th:if="${post.title == '황정한'}">
    <div class="main-post-text">
        <h2 th:text="${post.title}"></h2>
        <p th:text="${post.description}"></p>
        <span>SOCIAL IMPACT | 가치 더하기</span><br>
        <a th:href="@{/blogPost1}" th:if="${post.title == '주순태'}">주순태</a>
        <a th:href="@{/blogPost2}" th:if="${post.title == '서은진'}">서은진</a>
        <a th:href="@{/blogPost3}" th:if="${post.title == '김기호'}">김기호</a>
        <a th:href="@{/blogPost4}" th:if="${post.title == '강형석'}">강형석</a>
        <a th:href="@{/blogPost5}" th:if="${post.title == '이서현'}">이서현</a>
        <a th:href="@{/blogPost6}" th:if="${post.title == '황정한'}">황정한</a>
    </div>
</div>
</body>
</html>
