<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="postFragment">
<div class="post">
    <img th:src="@{/images/sample01.jpeg}" alt="Post Image" th:if="${post.title == 'PD들의 브랜드 디깅법'}">
    <img th:src="@{/images/sample02.png}" alt="Post Image" th:if="${post.title == '프로젝트 디자인'}">
    <img th:src="@{/images/sample03.png}" alt="Post Image" th:if="${post.title == '와디즈란?'}">
    <img th:src="@{/images/sample04.png}" alt="Post Image" th:if="${post.title == '여름이닷!!'}">
    <h3 th:text="${post.title}"></h3>
    <p th:text="${post.description}"></p>
    <a th:href="blogPost">더 보기</a>
</div>

</html>