<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="posts">
<head>
  <link rel="stylesheet" th:href="@{/index4.css}"/>
</head>
<body>
<section class="posts">
  <main class="content">
    <div class="post-title">
      <h2>포스트 제목</h2>
    </div>
    <div class="post">
      <div class="post-header">
        <div class="post-user">
          <img src="user.jpg" alt="User">
          <span>jayden_kim86</span>
        </div>
        <div class="post-time">9시간</div>
      </div>
      <div class="post-image">
        <img src="post.jpg" alt="Post Image">
      </div>
      <div class="post-caption">
        <span>alissia • Original audio • @alissia</span>
      </div>
    </div>
  </main>
</section>
</body>
</html>
