<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
<head>
    <link rel="stylesheet" th:href="@{/index4.css}"/>
</head>
<body>
<aside class="sidebar">
    <div class="sidebar-logo">
        <h1>ppuding</h1>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="#">홈</a></li>
            <li><a href="#">검색</a></li>
            <li><a href="#">To Ppuding's</a></li>
            <li><a href="#">프로필</a></li>
        </ul>
    </nav>
</aside>
</body>
</html>
