<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="userProfile">
<head>
  <link rel="stylesheet" th:href="@{/index4.css}"/>
</head>
<body>
<header>
  <div class="cover-photo">
    <div class="cover-photo-img">
      <img th:src="@{/images/hs.jpg}" alt="Cover Photo"/>
    </div>
    <div class="logo">
      <img th:src="@{/images/springmasct.png}" alt="Facebook Logo"/>
    </div>
  </div>
  <div class="profile-info">
    <div class="profile-pic">
      <img th:src="@{/images/springmasct.png}" alt="Profile Picture">
    </div>
    <div class="profile-details">
      <h1>강형석</h1>
      <p>SpringEagles의 팀장입니다</p>
    </div>
  </div>
</header>
</body>
</html>
