<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wadiz Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <h1>Spring Eagles</h1>
        </div>

        <div class="search-recruit">
            <input type="text" placeholder="검색">
            <button>검색</button>
        </div>
    </div>
</header>

<section class="main-post">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" th:each="post : ${posts}">
                <div th:insert="fragments/main :: mainFragment"></div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    </div>
</section>

<section>
    <div class="inner">
        <h2>새로 올라온 이야기</h2>
    </div>
    <div class="posts">
        <div th:each="post : ${posts}">
            <div th:insert="fragments/post :: postFragment"></div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".swiper-container", {
        cssMode: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
        },
        mousewheel: true,
        keyboard: true,
    });
</script>
</body>
</html>
