<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wadiz Blog</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <h1>Spring Eagles</h1>
        </div>

        <div class="search-recruit">
            <input type="text" placeholder="검색">
            <button>검색</button>
        </div>
    </div>
</header>
<section class="main-post">
    <div class="main-post-content">
        <img src="/images/sample01.jpeg" alt="Main Post Image">
        <div class="main-post-text">
            <h2>러너들의 색다른 도전</h2>
            <p>도전에는 언제나 응원이 따르는 법이지</p>
            <span>SOCIAL IMPACT | 가치 더하기</span>
        </div>
    </div>
</section>
<section>
    <div class="inner">
    <h2>새로 올라온 이야기</h2>
    </div>
    <div class="posts">
        <div th:each="post : ${posts}">
            <div th:insert="fragments/post :: postFragment"></div>
        </div>
    </div>
</section>
</body>
</html>s
