* {
    box-sizing: border-box;
    outline: none;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Gwangyang-Touching';
}

ul,
ol,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h3,
h4,
h5,
h6,
address,
em,
span,
strong,
div,
header,
nav,
aside,
section,
article,
footer,
video,
figure,
figcaption {
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

table,
tr,
td,
th {
    border-collapse: collapse;
}

th {
    font-weight: normal;
    text-align: left;
}

button {
    cursor: pointer;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

legend {
    display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}