<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="editor">
<head>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <link rel="stylesheet" th:href="@{/css/stj_Blog.css}"/>
    <link rel="stylesheet" th:href="@{/css/public_reset.css}"/>
    <style>
        body, html {
            height: 100dvh;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="editor-con">

    <div class="editor-input">
        <input type="text" id="title" required>
        <label>제목</label>
        <span></span>
    </div>

    <div class="editor-input">
        <input type="text" id="description" required>
        <label>설명</label>
        <span></span>
    </div>

    <div class="editor-input">
        <input type="text" id="imageUrl" required>
        <label>이미지</label>
        <span></span>
    </div>

    <div class="editor-input">
        <input type="text" id="tag" required>
        <label>태그</label>
        <span></span>
    </div>

    <div id="editor"></div>

    <div class="editor-button" onclick="handleClick()"><a>작성완료</a></div>
</div>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script th:inline="javascript">
    let editor; // 전역 변수로 editor 선언

    document.addEventListener('DOMContentLoaded', function () {
        editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '400px',
            initialEditType: 'markdown',
            placeholder: '내용을 입력해 주세요.',
            previewStyle: 'vertical',
            overflow: 'auto',
            heightResizable: false,
            hooks: {
                addImageBlobHook: (blob, callback) => {
                    const formData = new FormData();
                    formData.append('file', blob);

                    let url = '/files/';
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        url: '/files/upload',
                        data: formData,
                        dataType: 'json',
                        processData: false,
                        contentType: false,
                        cache: false,
                        timeout: 600000,
                        success: function (data) {
                            url += data.fileName;
                            fileIds += data.id + ",";
                            callback(url, '사진 대체 텍스트 입력');
                        },
                        error: function (e) {
                            callback('image_load_fail', '사진 대체 텍스트 입력');
                        }
                    });
                }
            }
        });
    });

    function handleClick() {
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const imageUrl = document.getElementById('imageUrl').value;
        const markdown = editor.getMarkdown();
        const tag = document.getElementById('tag').value;
        const tagArray = tag.split(' ');

        if (!title) {
            alert('제목을 입력해주세요')
            return;
        }
        if (!description) {
            alert('설명 입력해주세요')
            return;
        }
        if (!markdown) {
            alert('본문을 입력해주세요')
            return;
        }

        if (confirm("작성을 완료하시겠습니까?")) {
            const blogData = {
                title: title,
                description: description,
                imageUrl: imageUrl,
                content: markdown,
                tagArray: tagArray
            };

            console.log("Sending Blog Data: ", blogData);

            // 서버로 데이터를 전송하는 fetch 요청
            fetch('/saveMarkdown', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(blogData),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('서버 오류 발생');
                    }
                    return response.text();
                })
                .then(data => {
                    alert(data); // 서버에서 반환한 메시지를 알림으로 표시
                    // 성공적으로 처리되었으면 원하는 동작 수행
                    // 예: 페이지 리로드, 다른 페이지로 이동 등
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('작성을 완료하는 도중 오류가 발생했습니다');
                });
        }}
</script>
</body>
</html>
