<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="postList">
<div class="post-item" th:each="post : ${posts}">
    <a th:href="@{/stj/blog/post/{id}(id=${post.postId})}">
        <div class="hover01 column">
            <div th:if="${not #strings.isEmpty(post.imageUrl)}">
                <figure><img th:src="@{${post.imageUrl}}"/></figure>
            </div>
        </div>
        <div class="post-title" th:text="${post.title}">
            제목
        </div>
        <div class="post-description" th:text="${post.description}">
            설명
        </div>
        <div class="post-tags">
            <div th:each="tag : ${post.tagArray}" th:text="${tag}">
                태그
            </div>
        </div>
        <div class="post-meta">
            <div class="post-date" th:text="${post.createdAt}">
                작성날짜
            </div>
            <div class="post-comments">
                <span>0개의 댓글</span>
            </div>
            <div class="post-likes">
                <span>하트 <span>0</span>개</span>
            </div>
        </div>
    </a>
</div>
</html>
