<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joo's Blog</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/reset.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header">
          <div class="header-logo" th:onclick="">
            <div class="logo-image">
              <img src="imgs/logo.jpg" alt="X" />
            </div>
            <div class="logo-text" th:text="${blogName}">블로그 이름</div>
          </div>
          <div class="header-user">
            <div
              class="user-notification"
              th:text="${notification}"
              th:onclick=""
            >
              알림
            </div>
            <div class="user-search" th:text="${searchText}" th:onclick="">
              검색
            </div>
            <div class="user-login" th:text="${loginButton}" th:onclick="">
              로그인
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="main-container">
        <aside th:replace="fragments/sidebar :: sidebar"></aside>
        <div class="content">
          <div th:replace="fragments/user-profile :: userProfile"></div>
          <nav class="navigation">
            <div class="nav-items">
              <div th:onclick="">글</div>
              <div th:onclick="">시리즈</div>
              <div th:onclick="">소개</div>
            </div>
          </nav>
          <section th:replace="fragments/posts :: posts"></section>
        </div>
      </div>
    </main>
    <footer>
      <!-- Footer content here -->
    </footer>
  </body>
</html>
