<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/reset.css" />
  </head>
  <body>
    <div class="user-profile">
      <div class="profile-upper">
        <div class="profile-image">
          <img src="imgs/sample_user_img.png" alt="x" />
        </div>
        <div class="profile-info">
          <div class="user-name" th:text="${userName}">유저이름</div>
          <div class="user-description" th:text="${userDescription}">
            유저소개
          </div>
        </div>
      </div>
      <div class="profile-lower">
        <div class="sns-icons">
          <div class="icon" th:onclick="">
            <img src="imgs/github.svg" alt="x" />
          </div>
          <div class="icon" th:onclick="">
            <img src="imgs/logo-discord.svg" alt="x" />
          </div>
        </div>
        <div class="follow-info">
          <div class="follow-stats">
            <div class="follow-count" th:text="${followCount}" th:onclick="">
              팔로우 0
            </div>
            <div
              class="follower-count"
              th:text="${followerCount}"
              th:onclick=""
            >
              팔로워 0
            </div>
          </div>
          <div class="follow-button" th:onclick="">팔로우</div>
        </div>
      </div>
    </div>
  </body>
</html>
