<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="userProfile">
  <head>
    <link rel="stylesheet" th:href="@{/index2.css}"/>
    <link rel="stylesheet" th:href="@{/reset.css}"/>
  </head>
  <body>
    <div class="user-profile">
      <div class="profile-upper">
        <div class="profile-image">
          <img th:src="@{/images/sample_user_img2.png}" alt="X" />
        </div>
        <div class="profile-info">
          <div class="user-name" >유저이름</div>
          <div class="user-description" >
            유저소개
          </div>
        </div>
      </div>
      <div class="profile-lower">
        <div class="sns-icons">
          <div class="icon" th:onclick="">
            <img th:src="@{/images/github.svg}" alt="X" />
          </div>
          <div class="icon" th:onclick="">
            <img th:src="@{/images/logo-discord.svg}" alt="X" />
          </div>
        </div>
        <div class="follow-info">
          <div class="follow-stats">
            <div class="follow-count" th:onclick="">
              팔로우 0
            </div>
            <div
              class="follower-count"
              th:onclick=""
            >
              팔로워 0
            </div>
          </div>
          <div class="follow-button" th:onclick="">팔로우</div>
        </div>
      </div>
    </div>
  </body>
</html>
